body {
  font-size: 16px;
  color: #fff;
  background-color: maroon;
  font-family: 'Oxygen', sans-serif;
}

.navbar-brand h1 { /* website name */
  background-color: maroon;
 /* font-family: 'Lora', serif;
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  align-content: center; */
}


